@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Special+Gothic+Expanded+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
}

h3 {
  font-family: "Winky Rough", sans-serif;
}

button {
  font-family: "Outfit", sans-serif;
}
